{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Certificates</title>
        <link rel="stylesheet" href="certstyle.css">
    </head>


    <body>
        <h1>My Certifications</h1>
            <div class="cert-grid">
                {% for img in cert_images %}
                    <img src="{% static img %}" alt="Certificate {{ forloop.counter }}">
                {% endfor %}
            </div>
    </body>
</html>